<div class="sidebar">
    <img src="assets/img/logo.svg" class="_logo" alt="ngAppUI" />
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-home"></i> <span class="nav-title">Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="icon-compass"></i> <span class="nav-title">Browsers</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="icon-folder"></i> <span class="nav-title">File Manager</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="icon-file"></i> <span class="nav-title">Reports</span></a>
            </li>
        </ul>
    </nav>
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <a class="navbar-brand" ui-sref="app.main"></a> -->
    <ul class="p-0">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>

    </ul>
</div>