<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-9">
            <div class="row" ng-controller="cardChartCtrl1">
                <div class="col-lg-3 col-md-3 col-6" ng-repeat="metric in metrics" ng-click="select($index)" ng-class="{active: $index == selected}">
                    <div class="metric_card card">
                        <div class="card-header"> <h3 class="mb-0">{{metric.count}}</h3><small><b class="text-uppercase" style="opacity: 0.5;">{{metric.title}}</b></small></div>
                        <div class="card-body"></div>
                        <div class="card-footer pt-2">
                            <b class="text-success" ng-if="metric.status > 0 || metric.status == 0">
                            <i class="fa fa-long-arrow-up"></i> +{{metric.status}} %</b>
                            <b class="text-danger" ng-if="metric.status < 0">
                                    <i class="fa fa-long-arrow-down"></i> {{metric.status}} %</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card bg-none">
                        <div class="card-header bg-none">
                            <div class="float-left">
                            <h4 class="card_title mb-0">Sessions Overview</h4>
                            <small>11/04/2019 - 12/04/2019</small>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-dark"><i></i> Download CSV</button>
                        </div>
                        </div>
                        <div class="card-body" style="height: 250px;"></div>
                    </div>
                </div>
            </div>
            <div class="row session_list" ng-controller="cardChartCtrl1">
                <div class="col-lg-3" ng-repeat="metric in metrics">
                    <div class="card">
                        <div class="card-header"><div class="float-left"></div><div></div><div class="pull-right"><button class="btn btn-sm" style="background: transparent;"><i class="fa fa-ellipsis-v"></i></button></div></div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="_asidepane">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left card_title">Views by browser</h4>
                        <div class="tool_box float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm tools_drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0"></div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left card_title">Statistics</h4>
                        <div class="tool_box float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm tools_drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <div class="_statistics">
                            <div class="_stat-title">
                                Online Visitors
                            </div>
                            <div class="_stat-pro">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">MAX 512</p>
                                <p class="mb-0">312</p>
                            </div>
                        </div>
                        <div class="_statistics">
                            <div class="_stat-title">
                                New Visitors
                            </div>
                            <div class="_stat-pro">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">MAX 381</p>
                                <p class="mb-0">136</p>
                            </div>
                        </div>
                        <div class="_statistics">
                            <div class="_stat-title">
                                Average Revenue
                            </div>
                            <div class="_stat-pro">
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">3076.25</p>
                                <p class="mb-0">+31%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>