<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-9">
            <div class="filters_ct" ng-controller="cardChartCtrl1">
                <ul>
                    <li ng-repeat="filter in filters" ng-click="select($index)" ng-class="{sel: $index == selected}">
                        <span class="filters_ct_status"></span> {{filter.time}}
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card bg-none">
                        <div class="card-header bg-none">
                            <h4 class="card_title">Sessions Overview</h4>
                        </div>
                        <div class="card-body" style="height: 280px;"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-header">Top Platform</div>
                        <div class="card-body">1883 / sessions</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 p-0">
            <div class="_asidepane">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left card_title">Views by browser</h4>
                        <div class="tool_box float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm tools_drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0"></div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left card_title">Statistics</h4>
                        <div class="tool_box float-right">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm tools_drop dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        <div class="_statistics">
                            <div class="_stat-title">
                                Online Visitors
                            </div>
                            <div class="_stat-pro">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">MAX 512</p>
                                <p class="mb-0">312</p>
                            </div>
                        </div>
                        <div class="_statistics">
                            <div class="_stat-title">
                                New Visitors
                            </div>
                            <div class="_stat-pro">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">MAX 381</p>
                                <p class="mb-0">136</p>
                            </div>
                        </div>
                        <div class="_statistics">
                            <div class="_stat-title">
                                Average Revenue
                            </div>
                            <div class="_stat-pro">
                            </div>
                            <div class="_stat-data">
                                <p class="mb-0">3076.25</p>
                                <p class="mb-0">+31%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>