<div class="app-body">
        <header class="app-header navbar">
            <a class="_nav-brand"><img src="assets/img/logo.svg"/></a>
                <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">
                  <span class="navbar-toggler-icon"></span>
                </button>
        </header>              
    <!-- Navigation -->
    <div ng-include="'views/shared/sidebar-nav.html'" include-replace></div>
    <!-- Main content -->
    <main class="main">
        <ui-view></ui-view>
    </main>
</div>